{{>partials/header}}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Avaliação Podológica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container my-5">
        <h2 class="text-center">Ficha de Avaliação Podológica</h2>
        <!-- Dados Pessoais -->
        <div class="border p-3 mb-4">
            <h5>Dados Pessoais</h5>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome">
                </div>
                <div class="col-md-6">
                    <label for="data" class="form-label">Data</label>
                    <input type="date" class="form-control" id="data">
                </div>
                <div class="col-md-4">
                    <label for="endereco" class="form-label">Endereço</label>
                    <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço">
                </div>
                <div class="col-md-4">
                    <label for="numero_local" class="form-label">Número</label>
                    <input type="text" class="form-control" id="numero_local" placeholder="Digite o Número">
                </div>
                <div class="col-md-4">
                    <label for="complemento" class="form-label">Complemento</label>
                    <input type="text" class="form-control" id="complemento" placeholder="Digite o complemento">
                </div>
                <div class="col-md-4">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Digite a cidade">
                </div>
                <div class="col-md-4">
                    <label for="estado" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="estado" placeholder="Digite o estado">
                </div>
                <div class="col-md-4">
                    <label for="estado" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="estado" placeholder="Digite o Cep">
                </div>
                <div class="col-md-6">
                    <label for="telefone" class="form-label">Telefone Residencial</label>
                    <input type="tel" class="form-control" id="telefone" placeholder="Digite o telefone residencial">
                </div>
                <div class="col-md-6">
                    <label for="telefone" class="form-label">Telefone </label>
                    <input type="tel" class="form-control" id="telefone" placeholder="Digite o telefone">
                </div>
                <div class="col-md-6">
                    <label for="telefone" class="form-label">Telefone de Emergência</label>
                    <input type="tel" class="form-control" id="telefone" placeholder="Digite o telefone">
                </div>
                <div class="col-md-6">
                    <label for="telefone" class="form-label">Contato</label>
                    <input type="tel" class="form-control" id="telefone" placeholder="Digite o celular">
                </div>
                <div class="col-md-6">
                    <label for="data-nascimento" class="form-label">Data Nascimento</label>
                    <input type="date" class="form-control" id="data-nascimento">
                </div>
                <div class="col-md-6">
                    <label for="profissao" class="form-label">Profissão</label>
                    <input type="profissao" class="form-control" id="profissao" placeholder="Digite a Profissão">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite o email">
                </div>
            </form>
        </div>
        <!-- Dados Gerais -->
        <div class="border p-3 mb-4">
            <h5>Dados Gerais</h5>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="queixa" class="form-label">Queixa Principal</label>
                    <input type="text" class="form-control" id="queixa" placeholder="Digite a queixa principal">
                </div>
                <div class="col-md-6">
                    <label for="frequencia" class="form-label">Frequência no Podólogo</label>
                    <select class="form-select" id="frequencia">
                        <option selected>Escolha...</option>
                        <option>Semanal</option>
                        <option>Mensal</option>
                        <option>Semestral</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="medicamento" class="form-label">Faz uso de algum medicamento?</label>
                    <select class="form-select" id="medicamento">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="qual" class="form-label">Caso sim qual?</label>
                    <input type="text" class="form-control" id="qual" placeholder="Digite o nome do medicamento">
                </div>
                <div class="col-md-6">
                    <label for="alergico" class="form-label">Alérgico algum medicamento?</label>
                    <select class="form-select" id="alergico">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="substancia" class="form-label">Quais substâncias?</label>
                    <input type="text" class="form-control" id="subatancia" placeholder="Digite quais substâncias">
                </div>
                <div class="col-md-6">
                    <label for="trabalho" class="form-label">Posição de trabalho:</label>
                    <select class="form-select" id="trabalho">
                        <option selected>Escolha...</option>
                        <option>Em Pé</option>
                        <option>Sentado</option>
                        <option>Andando</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="duracao" class="form-label">Duração em horas:</label>
                    <input type="time" class="form-control" id="duracao" placeholder="Digite quais substâncias">
                </div>
                <div class="col-md-6">
                    <label for="maior_parte" class="form-label">Passa maior parte do tempo:</label>
                    <select class="form-select" id="maior_parte">
                        <option selected>Escolha...</option>
                        <option>Em Pé</option>
                        <option>Sentado</option>
                        <option>Caminhando</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="calcado" class="form-label">Número do calçado:</label>
                    <input type="text" class="form-control" id="calcado" placeholder="Digite o n°">
                </div>
                <div class="col-md-6">
                    <label for="tipo_calcado" class="form-label">Tipo calçado diário:</label>
                    <select class="form-select" id="tipo_calcado">
                        <option selected>Escolha...</option>
                        <option>Bota</option>
                        <option>Coturno</option>
                        <option>Chinelo</option>
                        <option>Sapatênis</option>
                        <option>Sapato</option>
                        <option>Sandalia</option>
                        <option>Salto</option>
                        <option>Sapatilha</option>
                        <option>Tênis</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="palmilha" class="form-label">Faz uso de palmilha?</label>
                    <select class="form-select" id="palmilha">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                    <label for="tipo_palmilha" class="form-label">Se sim qual?</label>
                    <select class="form-select" id="tipo_palmilha">
                        <option selected>Escolha...</option>
                        <option>Ortopédica</option>
                        <option>Descanso</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="fumante" class="form-label">É Fumante ?</label>
                    <select class="form-select" id="fumante">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="ciclo_menstrual" class="form-label">Ciclo Menstrual Regular?</label>
                    <select class="form-select" id="ciclo_menstrual">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                    <div class="col-md-6">
                        <label for="data" class="form-label">DUM:</label>
                        <input type="date" class="form-control" id="data">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="caso_gestantegestante" class="form-label">Está gestante?</label>
                    <select class="form-select" id="caso_gestante">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="amamentando" class="form-label">Está amamentando?</label>
                    <select class="form-select" id="amamentando">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="at_fisica" class="form-label">Pratica atividade física?</label>
                    <select class="form-select" id="at_fisica">
                        <option selected>Escolha...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="frequencia_at" class="form-label">Frequência?</label>
                    <select class="form-select" id="frequencia_at">
                        <option selected>Escolha...</option>
                        <option>Diário</option>
                        <option>As Vezes</option>
                        <option>Nunca</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="esporte" class="form-label">Qual esporte e tipo de calçado?</label>
                    <input type="text" class="form-control" id="esporte"
                        placeholder="Digite esporte e tipo de calçado ">
                </div>
            </form>
        </div>
        <!-- Dados Clínicos -->
        <div class="border p-3 mb-4">
            <h5>Dados Clínicos</h5>
            <form class="row g-3">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="gestante">
                        <label class="form-check-label" for="gestante">Gestante</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="osteoporose">
                        <label class="form-check-label" for="osteoporose">Osteoporose</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardiopatia">
                        <label class="form-check-label" for="cardiopatia">Cardiopatia</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="marca_passo">
                        <label class="form-check-label" for="marca_passo">Marca Passo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hipertiroidismo">
                        <label class="form-check-label" for="hipertiroidismo">Hipertiroidismo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hipotiroidismo">
                        <label class="form-check-label" for="hipotiroidismo">Hipotiroidismo</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hipertensao">
                        <label class="form-check-label" for="hipertensao">Hipertensão</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hipotensao">
                        <label class="form-check-label" for="hipotensao">Hipotensão</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="renal">
                        <label class="form-check-label" for="renal">Renal</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="neuropatia">
                        <label class="form-check-label" for="neuropatia">Neuropatia</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="reumatismo">
                        <label class="form-check-label" for="reumatismo">Reumatismo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="alt_comprometimento">
                        <label class="form-check-label" for="alt_comprometimento">Alteração ou Comprometimento
                            Vasculares</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="epilepsia">
                        <label class="form-check-label" for="epilepsia">Epilepsia</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hepatite">
                        <label class="form-check-label" for="hepatite">Hepatite</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hanseniase">
                        <label class="form-check-label" for="hanseniase">Hanseniase</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="quimioterapia">
                        <label class="form-check-label" for="quimioterapia">Quimioterapia / Radioterapia</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="antecedentes">
                        <label class="form-check-label" for="antecedentes">Antecedentes Oncológicos</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cirurgia_mmii">
                        <label class="form-check-label" for="cirurgia_mmii">Cirurgia MMII</label>
                    </div>
                </div>
            </form>
            <div class="col-md-6">
                <label for="diabetes" class="form-label">Diabetes:</label>
                <select class="form-select" id="diabetes">
                    <option selected>Escolha...</option>
                    <option>Sim</option>
                    <option>Não</option>
                </select>
                <label for="taxa_glicemica" class="form-label">Taxa Glicêmica:</label>
                <input type="text" class="form-control" id="taxa_glicemica" placeholder="Digite taxa a glicêmica">
                <label for="data-ultima" class="form-label">Data da última verificação:</label>
                <input type="date" class="form-control" id="data-ultima">
                </select>
            </div>
            <div class="col-md-6">
                <label for="insulina" class="form-label">Insulina:</label>
                <select class="form-select" id="insulina">
                    <option selected>Escolha...</option>
                    <option>Sim</option>
                    <option>Não</option>
                    <option>Injetável</option>
                    <option>Via Oral</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="dieta_hidrica" class="form-label">Dieta Hídrica:</label>
                <select class="form-select" id="dieta_hidrica">
                    <option selected>Escolha...</option>
                    <option>Sim</option>
                    <option>Não</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="dieta_alimentar" class="form-label">Dieta alimentar:</label>
                <select class="form-select" id="dieta_alimentar">
                    <option selected>Escolha...</option>
                    <option>Sim</option>
                    <option>Não</option>
                </select>
            </div>
        </div>
        <!-- Alterações e Lesões dos Pés -->
        <div class="border p-3 mb-4">
            <h5>Alterações e Lesões dos Pés</h5>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="tipo-pisada" class="form-label">Tipo de Pisada</label>
                    <select class="form-select" id="tipo-pisada">
                        <option selected>Escolha...</option>
                        <option>Cavo / Supinado</option>
                        <option>Normal / Neutro</option>
                        <option>Plano / Pronado</option>
                    </select>
                    
                </div>
                <div class="col-md-6">
                    <label for="marcha" class="form-label">Tipo de Marcha</label>
                    <select class="form-select" id="marcha">
                        <option selected>Escolha...</option>
                        <option>Normal</option>
                        <option>Patólogica</option>
                        <input type="text" class="form-control" id="marcha" placeholder="Qual Patólogia?">
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="joelho" class="form-label">Joelho:</label>
                    <select class="form-select" id="joelho">
                        <option selected>Escolha...</option>
                        <option>Normal</option>
                        <option>Valgo</option>
                        <option>Varo</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="articulacao" class="form-label">Articulação:</label>
                    <select class="form-select" id="articulacao">
                        <option selected>Escolha...</option>
                        <option>Retropé</option>
                        <option>Chopart</option>
                        <option>Mediopé</option>
                        <option>Lisfranc</option>
                        <option>Antepé</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="sensibilidade" class="form-label">Sensibilidade a Dor</label>
                    <select class="form-select" id="sensibilidade">
                        <option selected>Escolha...</option>
                        <option>Diminuição</option>
                        <option>Normal</option>
                        <option>Aumentada</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="teste_dia" class="form-label">Teste de Diapazão:</label>
                    <input type="teste_dia" class="form-control" id="teste_dia" placeholder="Digite teste de Diapazão">
                </div>
                <div class="col-md-6">
                    <label for="teste_mono" class="form-label">Teste de Monofilamento:</label>
                    <input type="test_mono" class="form-control" id="test_mono"
                        placeholder="Digite teste de Monofilamento">
                </div>
                <div class="col-md-6">
                    <label for="pulso" class="form-label">Pulso:</label>
                    <input type="pulso" class="form-control" id="pulso" placeholder="Digite Pulso">
                </div>
                <!-- Dedos  -->
                <h5>Dedos</h5>
                <div class="col-md-6">
                    <label for="flexivel" class="form-label">Flexível</label>
                    <select class="form-select" id="flexivel">
                        <option selected>Escolha...</option>
                        <option>Esquerdo</option>
                        <option>Direito</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="rigido" class="form-label">Rigido</label>
                    <select class="form-select" id="rigido">
                        <option selected>Escolha...</option>
                        <option>Esquerdo</option>
                        <option>Direito</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="espalmado" class="form-label">Espalmado</label>
                    <select class="form-select" id="espalmado">
                        <option selected>Escolha...</option>
                        <option>Esquerdo</option>
                        <option>Direito</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="martelo" class="form-label">Martelo</label>
                    <select class="form-select" id="martelo">
                        <option selected>Escolha...</option>
                        <option>Esquerdo</option>
                        <option>Direito</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="queda_meta" class="form-label">Queda de Metatarso</label>
                    <select class="form-select" id="queda_meta">
                        <option selected>Escolha...</option>
                        <option>Esquerdo</option>
                        <option>Direito</option>
                    </select>
                </div>
            </form>
        </div>
        <!-- Formato das unhas -->
        <div class="border p-3 mb-4">
            <h5>Formato das Unhas</h5>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="formato_unha" class="form-label">Formato Unhas</label>
                    <select class="form-select" id="formato_unha">
                        <option selected>Escolha...</option>
                        <option> A-Normal</option>
                        <option> B-Involuta</option>
                        <option> C-Telha</option>
                        <option> D-Funil</option>
                        <option> E-Gancho</option>
                        <option> F-Torquês</option>
                        <option> G-Caracol</option>
                        <option> H-Cunha</option>
                    </select>
                </div>
                <!-- Artelhos  -->
                <h5>Artelhos</h5>
                <div class="col-md-6">
                    <label for="artelhos_pd" class="form-label">Pé Direito</label>
                    <select class="form-select" id="artelhos_pd">
                        <option selected>Escolha...</option>
                        <option>Hálux</option>
                        <option>2°</option>
                        <option>3°</option>
                        <option>4°</option>
                        <option>5°</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="artelhos_pe" class="form-label">Pé Esquerdo</label>
                    <select class="form-select" id="artelhos_pe">
                        <option selected>Escolha...</option>
                        <option>Hálux</option>
                        <option>2°</option>
                        <option>3°</option>
                        <option>4°</option>
                        <option>5°</option>
                    </select>
                </div>
                <form class="row g-3">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onicoatrofia">
                            <label class="form-check-label" for="onicoatrofia">Onicoatrofia</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onicocriptose">
                            <label class="form-check-label" for="onicocriptose">Onicocriptose</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onicorrexe">
                            <label class="form-check-label" for="onicorrexe">Onicorrexe</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="granuloma">
                            <label class="form-check-label" for="granuloma">Granuloma</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onicogrifose">
                            <label class="form-check-label" for="onicogrifose">Onicogrifose</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onicolise">
                            <label class="form-check-label" for="onicolise">Onicolise</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onicofose">
                            <label class="form-check-label" for="onicofose">Onicofose</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="psoriase_ungueal">
                            <label class="form-check-label" for="psoriase_ungueal">Psoríase ungueal</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onicomicose">
                            <label class="form-check-label" for="onicomicose">Onicomicose</label>
                        </div>
                    </div>
                    <label for="alt_ungueais" class="form-label">Outras alterações ungueais:</label>
                    <input type="text" class="form-control" id="alt_ungueais" placeholder="Digite outras alterações">
                </form>
        </div>
        <!-- Alterações e lesões -->
        <div class="border p-3 mb-4">
            <h5>Alterações e Lesões</h5>
            <form class="row g-3">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="bromidrose">
                        <label class="form-check-label" for="bromidrose">Bromidrose</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hidrose">
                        <label class="form-check-label" for="hidrose">Hidrose</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="desidrose">
                        <label class="form-check-label" for="desidrose">Desidrose</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isquemia">
                        <label class="form-check-label" for="isquemia">Isquemia</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="mal_perfurante">
                        <label class="form-check-label" for="mal_perfurante">Mal Perfurante</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="edema">
                        <label class="form-check-label" for="edema">Edema</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tinea">
                        <label class="form-check-label" for="tinea">Tinea</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="psoríase">
                        <label class="form-check-label" for="psoríase">Psoríase</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tungiase">
                        <label class="form-check-label" for="tungiase">Tungíase</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="fissuras">
                        <label class="form-check-label" for="fissuras">Físsuras</label>
                    </div>
                </div>

                <!-- Perfusão  -->
                <h5>Perfusão</h5>
                <div class="col-md-6">
                    <label for="perfusao_pd" class="form-label">Pé Direito</label>
                    <select class="form-select" id="perfusao_pd">
                        <option selected>Escolha...</option>
                        <option>Normal</option>
                        <option>Pálido</option>
                        <option>Cianótico</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="perfusao_pe" class="form-label">Pé Esquerdo</label>
                    <select class="form-select" id="perfusao_pe">
                        <option selected>Escolha...</option>
                        <option>Normal</option>
                        <option>Pálido</option>
                        <option>Cianótico</option>
                    </select>
                </div>
                <!-- Abaixo Perfusão -->
                <form class="row g-3">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="verruga_plantar">
                            <label class="form-check-label" for="verruga_plantar">Verruga Plantar</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="queratose">
                            <label class="form-check-label" for="queratose">Queratose</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hiperqueratose">
                            <label class="form-check-label" for="hiperqueratose">Hiperqueratose</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="calo_dorsal">
                            <label class="form-check-label" for="calo_dorsal">Calo Dorsal</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="calo_plantar">
                            <label class="form-check-label" for="calo_plantar">Calo Plantar</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="calo_interdigital">
                            <label class="form-check-label" for="calo_interdigital">Calo Interdigital</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="erisipela" class="form-label">Já teve ou apresenta Erisipela?</label>
                        <select class="form-select" id="erisipela">
                            <option selected>Escolha...</option>
                            <option>Sim</option>
                            <option>Não</option>
                        </select>
                    </div>
                    <label for="alt_pele" class="form-label">Outras alterações na pele:</label>
                    <input type="text" class="form-control" id="alt_pele" placeholder="Digite outras alterações">
                    <!-- Outros comentários -->
                        <h5>Outros Comentários:</h5>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="out_comentarios"
                                    placeholder="Digite outros comentários">
                            </div>
                </form>
        </div>
        <!-- Termo de Responsabilidade -->
        <div class="border p-3 mb-4">
            <h5>Termo de Responsabilidade</h5>
            <p>Eu, <span class="fw-bold">Nome do Paciente</span>, portador(a) do RG nº __________ e inscrito(a) no
                CPF/MF
                sob nº ____________, por minha livre iniciativa, aceito submeter-me ao procedimento de Podologia
                ("procedimento"). Declaro que todas as informações contidas nesta Ficha de Avaliação são verdadeiras e
                completas.</p>
            <form>
                <div class="mb-3">
                    <label for="data-assinatura" class="form-label">Data</label>
                    <input type="date" class="form-control" id="data-assinatura">
                </div>
                <div class="mb-3">
                    <label for="assinatura" class="form-label">Assinatura</label>
                    <input type="text" class="form-control" id="assinatura" placeholder="Assinatura do paciente">
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


{{>partials/footer}}