<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header do Formulário</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #f7f7f7;
    color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
header p {
    font-size: 1em;
    margin-top: 10px;
    color: #000000;
}
footer {
    background-color: #f7f7f7;
    color: white;
    text-align: center;
    padding: 10px 0;
        }
    </style>
</head>
<body>
    
    <header>
        <h1>Formulário de Contato</h1>
        <p>Preencha os campos abaixo para entrar em contato conosco.</p>
    </header>

</body>
</html>